<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
 
  <system.webServer>   
    <security>
      <requestFiltering>
        <!-- Handle requests up to 4 GB -->
        <requestLimits maxQueryString="4294967295"  maxAllowedContentLength="30000000" maxUrl="410999"/>
      </requestFiltering>     
    </security>   
  </system.webServer>
</configuration>